@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
}
.text {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  gap: 200px;
  align-items: center;
}

.caption {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 47.7px;
}

.about h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}

.about p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.image-grid {
  width: 70vw;

  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

img {
  width: 300px;
  margin-top: 30px;
  padding-left: 30px;
}

.image-2 {
  margin-top: 150px;
}

.image-5 {
  margin-top: 150px;
}

.image-2 > .title,
.image-5 > .title {
  position: relative;
  top: -58%;
}

.name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-top: 20px;
  padding-left: 30px;
}

.title {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 18px;

  transform: rotate(90deg);
  position: relative;
  left: 150px;
  top: -44%;
}

.credit {
  text-align: center;
  margin-top: 50px;
  padding: 20px;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #a9a9a9;
}

@media (max-width: 400px) {
  .caption {
    position: absolute;
    width: 278px;
    height: 47px;
    left: 12px;
    top: 50px;
    font-family: PT Serif;

    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;

    color: #000000;
  }

  .about h4 {
    position: relative;
    width: 117px;
    height: 27px;
    right: 70px;
    top: 66px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }

  .about p {
    position: relative;
    width: 333px;
    height: 87px;
    right: 70px;
    top: 73px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    color: #000000;
  }

  img {
    width: 180px;
  }

  .image-1 {
    position: absolute;
    top: 200px;
    right: 54%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .image-2 {
    position: relative;
    top: -100px;
    left: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .image-3 {
    position: absolute;
    top: 550px;
    right: 54%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .image-4 {
    position: absolute;
    top: 600px;
    left: 55%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .image-5 {
    position: absolute;
    top: 750px;
    right: 54%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .image-6 {
    position: relative;
    top: 750px;
    right: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .name {
    font-size: 14px;
  }

  .title {
    position: relative;
    top: -185px;
    left: 60%;
    font-size: 14px;
  }

  .image-5 > .title {
    position: relative;
    top: -185px;
  }

  .credit {
    position: relative;

    top: 650px;
    left: 30px;
    font-size: small;
    font-weight: lighter;
    margin-bottom: 20px;
  }
}
